<!DOCTYPE html>
{% load static %}

{% extends 'base.html' %}

{% block title %}NFT Crypto Historys{% endblock title %}
{% block main %}
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://www.latercera.com/resizer/ZweKxOV8Wj591PSPnwqM28vlTk0=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/XZCJPMFAXZBXPAV4AYAWVHS7IQ.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">July 23, 2023</div>
                    <h2 class="card-title">Primeros pasos</h2>
                    <p class="card-text">Comienza la historia jugando juegos de estrategia en Family Game como él Adventure Island, Mappi, Tetris, Ice Climber, Super Mario Bross, etc.
                        Pasaron de todo tipo de consolas y de Arcades, pero el que más me atrapó en el ámbito se llama Ragnarok Online, es de Jugabilidad tipo MMORPG, creadores Koreanos, con Mitologia Nórdica, desarrollada en 2D Animado
                         Recorrí Varios servidores durante 15 lindos años...
                    </p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div> 
{% endblock main %}